@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

.flex-coloumn {
  @apply flex flex-col justify-center items-center;
}
.flex-rows {
  @apply flex flex-row justify-center items-center;
}
.flex-btn {
  @apply flex justify-center items-center;
}
.transitions {
  @apply transition duration-500 ease-in;
}
.zIndex{
  z-index: 1000;
}
.hoveres {
  @apply hidden
}
.hovered:hover .hoveres {
  @apply flex-coloumn
}